@import '../../App.scss';

.projects {
    @include flexbox(column, center);
    align-items: unset;
    height: 100%;

    &_title {
        display: inline-block;
        font-size: 7vw;
        letter-spacing: 2px;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #fff;
        color: transparent;
        margin-bottom: 20px;
        margin-left: 20px;
        transition: color 260ms ease-out;
        

        &:last-child {
            margin-bottom: 0;
        }
        &:hover{
            color: white;
            -webkit-text-stroke-width: 0px;
        }
        span {
            font-size: 20px;
            margin-right: 20px;
            opacity: .2;
            -webkit-text-stroke-width: 0;
        }
    }
}