.About{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.About img{
    width: 400px;
}
.About .abouttext{
    width: 600px;
}
.About h3{
    font-size: 40px;
    margin-bottom: 40px;
}
.About p{
    color: rgb(167, 167, 167);
}
@media only screen and (max-width: 768px){

    .About{
        flex-direction: column;
    }
    .About .abouttext{
        width: 70%;
    }
    .About img{
        width: 70%;
    }
   
}
