.Contact  center h3{
    margin-bottom: 100px;
}
.Contact .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 60px;
}
.Contact .container i{
    margin-top: 60px;

}
.Contact h6{
    margin-top: 250px;
 
    
}
@media only screen and (max-width: 768px){
    .Contact .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }
    
    
}