.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(141, 141, 141);
    position: relative;
   z-index: 2;
  
}
ul{   
    display: flex;
    
    
}
li{
    margin: 0 100px;
    font-family: 'Segoe UI';
    margin-bottom: 20px;
    font-size: 18px;
}
.intro p{
   width: 860px;
   text-align: center;
   font-family: 'Segoe UI';
}
.intro img,.intro h3,.intro p{
    margin-bottom: 40px;
 
}
.intro h3{
    font-family: 'STXingkai';
    font-size: 50px;
}
.intro img{
    margin-top: 70px;
    width: 300px;
}
@media only screen and (max-width: 768px){
    .intro{
     margin: 0 auto;
    }
    .intro h3{
    text-align: center;
    width: 80%;
    }
    .intro p{
        width: 90%;
    
     }
     ul{   
        display: flex;
        flex-direction: column;
        
        
    }
     li{
      margin-left: 0;
      margin-right: 0;
       
    }


}