// .About{
//     height: 100vh;
//     display: flex;
//     justify-content: space-around;
//     align-items: center;
//     width: 90%;
//     margin: 0 auto;
// }
// .About img{
//     width: 30%;
//     max-width: 500px;
// }
// .About .abouttext{
//     width: 40%;
// }
// .About h3{
//     font-size: 40px;
//     margin-bottom: 40px;
// }
// .About p{
//     color: rgb(167, 167, 167);
//     line-height: 30px;
//     font-size: 16px;
//     letter-spacing: 2px;
// }
// @media only screen and (max-width: 1000px){

//     .About{
//         flex-direction: column;
//     }
//     .About .abouttext{
//         width: 70%;
//         margin-bottom: 40px;
//     }
//     .About img{
//         width: 50%;
//         min-width: 300px;
//     }
   
// }

@import './main.scss';

.about{
    margin: 100px 0;
    @include flexbox(space-between,row);

    &__text{
        width: 50%;
        
        &__title{
            
         
          @include fluid-type(320px, 1200px, 30px, 40px);
          margin-bottom: 50px;
        }

        &__des{
            color: $grey;
            line-height: 30px;
            font-size: 16px;
            letter-spacing: 2px;
            margin-bottom: 50px;
            margin-right: 20px;
        }
    }

    &__pic{

        width: 75%;
        min-width: 200px;
        max-width: 350px;

    }



}

@media only screen and (max-width: 786px){

.about{

    @include flexbox(center,column);

    &__text{
        width: auto;
        &__title{
          margin-top: 100px;
          
          @include fluid-type(320px, 1200px, 35px, 40px);
         
        }

        &__des{
            
            margin-right: 0px;
            margin-bottom: 60px;
        }
    }

    &__pic{

        min-width: 250px;
        

    }



}
}