@import './main.scss';

.home{
    $min_width: 320px;
    $max_width: 1200px;
    $min_font: 35px;
    $max_font: 60px;
    height: 100vh;
 
    @include flexbox(space-between,row);
    .button{
        background-color:$black;
        border:1px $yellow solid;
        width: 140px;
        height: 40px;
        color: $yellow;
        margin-top: 20px;
      }
      .button:hover{
        background-color: $yellow;
        color: $black;
      }

    img{
        max-width: 450px;
       width: 30vw;

    }
    &__intro{
        &__text{
            color: white;
            font-weight: 900;
            @include fluid-type($min_width, $max_width, $min_font, $max_font);
          
        }
        &__para{
            color: rgb(73, 73, 73);
            margin-top: 10px;
            font-weight: 300;
        
        }

        
    }
  }





@media only screen and (max-width: 768px){
    $min_width: 320px;
    $max_width: 1200px;
    $min_font: 35px;
    $max_font: 70px;
    .home{

        @include flexbox(center,unset);
        img{
            display: none;
        }
        &__intro{
            &__text{
                color: white;
                font-weight: 900;
                @include fluid-type($min_width, $max_width, $min_font, $max_font);
              
            }
            &__para{
                color: rgb(73, 73, 73);
                margin-top: 10px;
                font-weight: 300;
            
            }

            
        }
      }
}