@import './main.scss';


.skills{
    height: 100vh;

    &__grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    &__title{
        letter-spacing: 10px;
        margin: 200px 0;
        color: white;
        width: auto;
        @include fluid-type(320px, 1200px, 20px, 25px);
    }
}
.progressbar {
    color: white;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title{
        margin-bottom: 20px;

    }

    &__outer{
        width: 50%;
        height: 30px;
        border-radius: 80px;
        border: 1px #14FFD8 solid;
        margin-bottom: 40px;
    }

    &__inner{
        background-color: #14FFD8;
        height: 30px;
        border-radius: 80px;
    }
}

   @media only screen and (max-width: 943px){

  
    .skills{
        height: auto;
        margin-bottom: 80px;

        &__grid{
            grid-template-columns: repeat(1,1fr);
        }
    }
    .progressbar {
        &__outer{
            width: 70%;
            height: 30px;
        }

        &__inner{
            height: 30px;
        }
    }
    
   }