.wrapper2{
    background-color: #131313;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
*{
    font-family: 'Segoe UI';
}

h3{
    color: rgb(190, 190, 190);
}
.projects,.Achievements,.News,.Contact{
    margin-top: 180px;
    position: relative;
    z-index: 2;

}
.intro{
    z-index: 2;
}
.footer{
    color: gold;
}