* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}

body{
  background-color: #1D1D1D;

}
.Content{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .wrapper{
  max-width: 1080px;
  width: 92%;
} */




span{
  color: #0FA9D8;
}




